/* src/Modal.css */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: auto;

  }
  
  .modalContainer {
    animation: fadeIn 0.75s ease-in-out;
    padding: 10px;
    border-radius: 8px;
    width: 800px;
    max-width: 90%;
    margin: auto;
    background: white;
    
  }
  
  .closeBtn {
    align-self: flex-end;
    cursor: pointer;
    font-size: 28px;  
    font-weight: bold;
    width: 4%;
    margin-left: 10px;
  }
  
  .content {
    margin-top: -10%;
    text-align: center;
    background-color: rgba(119, 116, 253, 0.7);
  }
  

  .content img {
    max-width: 60%;
    margin-bottom: -10px;
    border-radius: 5px;
    margin-top: 8px;
  }

  .modal_text_P {
    font-size: 18px;
    margin-top: -3%;
  }
  .projectsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
   
  }
  
  .projectCard {
    background: #f0f0f0;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
    margin: 5px 10px;
  }
  
  .projectCard img {
    margin-top: -5px;
    max-width: 100%;
  }